@{
    ViewBag.Title = "Conditions de vente & livraison";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<body>


    <div>
        <h3>Conditions de livraison</h3>

        <p>
            <h4>Délai de livraison :</h4>
            Produits en stock : 2 à 3 jours ouvrables</br>
            Produits pas en stock : 3 - 8 semaines</br>
            Private Label : 8-12 semaines</br>
            </<body>


                <div>
                    <h3>Conditions de livraison</h3>

        <p>
            <h4>Délai de livraison :</h4>
            Produits en stock : 2 à 3 jours ouvrables</br>
            Produits pas en stock : 3 - 8 semaines</br>
            Private Label : 8-12 semaines</br>
        </p>

        <p>
            <h4>Conditions:</h4>
            Pour les commandes par e-mail, fax ou courrier: 2% du montant total (sauf services) hors TVA avec un minimum de EUR 20 et un maximum de EUR 250 hors TVA.</br>
            Pour les commandes sur notre site internet : 2% du montant total (sauf services) hors TVA avec un minimum de EUR 5 et un maximum de EUR 250 hors TVA.</br>
        </p>
    </div>



    <div>
        <h3>Conditions Générales de vente</h3>
        <p>Les présentes conditions de vente sont conclues d'une part par la société Bookstore, (statut juridique) au capital de Bookstore euros dont le siège social est situé à (adresse), immatriculée au registre du commerce et des sociétés de (précisez la ville) sous le numéro (numéro d’immatriculation au RCS) ci-après dénommée « Bookstore » et d'autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet de « Bookstore » dénommée ci-après « le Client ».

        <p>
            1. Objet du contrat

            Les présentes conditions générales de vente ont pour objet de fixer les dispositions contractuelles entre Bookstore et le Client et les conditions applicables à tout achat effectué par le biais du site marchand Bookstore, que le Client soit professionnel ou consommateur. L’acquisition d'un bien ou d'un service à travers le présent site implique une acceptation sans réserve par le client des présentes conditions de vente.
        </p>
        <p>
            2. Caractéristiques des articles proposés à la vente

            Les articles offerts sont ceux qui figurent dans le catalogue publié dans le site de Bookstore. Ces articles sont offerts dans la limite des stocks disponibles. Chaque article est accompagné d'un descriptif établi par Bookstore. Les photographies du catalogue sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec l’article offert, notamment en ce qui concerne les couleurs.
        </p>
        <p>
            3. Zone géographique

            La vente en ligne des articles présentés dans le site est réservée aux acheteurs qui résident en France métropolitaine.
        </p>
        <p>
            4. Tarifs
            Les prix figurant dans le catalogue sont des prix TTC en euros tenant compte de la TVA applicable au jour de la commande; tout changement du taux pourra être répercuté sur le prix des articles. Bookstore se réserve le droit de modifier ses prix à tout moment, étant entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable au Client. Les prix indiqués comprennent les frais de traitement de commandes, de transport et d’expédition.
        </p>
        <p>
            5. Commandes

            Le client passe commande sur le site Internet « www… ». Pour acheter un ou plusieurs articles, il doit obligatoirement suivre le processus de commande suivant :

            Choix des articles et ajout au panier
            Validation du contenu du panier
            Identification sur le site Internet ou inscription sur la fiche d'identification sur laquelle il indiquera toutes les coordonnées demandées
            Choix du mode de livraison
            Choix du mode de paiement et acceptation des CGV
            Validation du paiement

            Le client recevra un e-mail de confirmation de commande.
            Le client pourra à tout moment visualiser lors du processus de commande le détail de sa commande ainsi que son prix total et corriger d’éventuelles erreurs, avant de la confirmer pour exprimer son acceptation.

            X se réserve la propriété des articles jusqu’au règlement complet de la commande, c'est-à-dire à l’encaissement du prix de la commande par Bookstore.

            X se réserve le droit d’annuler ou de refuser toute commande qui émanerait d’un Client avec lequel il existerait un litige relatif au paiement d’une commande précédente. Toute commande vaut acceptation des prix et descriptions des articles disponibles à la vente.
            X s’engage à honorer les commandes reçues sur le site Internet seulement dans la limite des stocks disponibles.
        </p>
        <p>
            6. Modalités de paiement

            Le règlement des achats s’effectue via l’un des moyens suivants, à la convenance du Client :
            Par carte bancaire
            Par chèque bancaire*
            Par Paypal
            *En cas de règlement par chèque bancaire, celui-ci doit être émis par une banque domicilié en France métropolitaine, et libellé à l’ordre de Bookstore.
            Il est à envoyer à Bookstore, service client (adresse : ….). Les articles commandés seront alors réservés 7 jours calendaires à compter de la date de la commande. Passé ce délai et à défaut de réception dudit chèque, Bookstore se réserve le droit d’annuler la commande du client. Le chèque lui sera alors renvoyé dès réception.

            L’encaissement est effectué à réception du chèque.
        </p>
        <p>
            7. Expédition et délais de livraison

            Toute commande passée sur le site de Bookstore avant 13h du lundi au samedi (hors jours fériés) sera préparée et expédiée le jour même, sous réserve de validation du paiement.
            X s’engage à livrer les commandes passées par le Client dans les délais prévus. Si lesdits articles n’ont pas été livrés dans un délai de 7 jours à compter de la date de livraison prévue lors de la commande, et si ce dépassement n’est pas lié à un cas de force majeure, le Client pourra procéder à la résolution de la vente, en envoyant à courrier recommandé avec accusé de réception à l’adresse suivante : Bookstore,… Les sommes réglées par le Client lui seront alors intégralement remboursées.

            Le client dispose d’un délai de 70 jours ouvrés à compter de la date d’expédition de la commande pour signaler la non réception et demander la résolution de la vente et le remboursement des articles. Passé ce délai, aucune résolution de la vente ne sera acceptée.

            Le client est tenu de vérifier le bon état des articles livrés. Toute anomalie constatée (article manquant, colis endommagé, article cassé…) devra obligatoirement être indiquée dans les 4 jours, à Bookstore, suivant la réception.

        <p>
            8. Délai de Rétractation : échange ou retour

            Les Clients, personnes physiques non professionnelles, bénéficient d'un délai de rétractation de trente jours à compter de la livraison de leur commande pour faire retour du produit à Bookstore pour échange ou remboursement sans pénalité, et sans frais de retour.

            Les frais de retour sont offerts par Bookstore. Le Client sera remboursé intégralement dans les meilleurs délais et au plus tard 30 jours après la date à laquelle il a exercé son droit de rétractation.
            Conditions d’échange et de retour pour remboursement
            Les articles retournés doivent être neufs et en parfait état. Ils devront être renvoyés dans un état permettant leur re commercialisation.
            Le Client aura le choix entre deux modes de retour proposés par Bookstore : *
            Colissimo
            Kiala
            Si le Client venait à renvoyer les articles par un autre mode de retour, et supportant à ce titre des frais de retour, il ne pourrait prétendre à aucun remboursement ou échange de la part de Bookstore.
            Le client devra conserver la preuve du dépôt du colis auprès de l’un des deux prestataires chargés du retour. En l’absence de cette preuve, aucun échange ou remboursement ne pourra être effectué en cas de perte du colis.
        </p>
    </div>
</body>
