@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>@ViewBag.Message</h2>

<address>
    BOOKSTORE<br />
    81 AVENUE ARAGO<br />
    92000 NANTERRE<br />
    <abbr title="TELEPHONE">P:</abbr>
    (33)1 55 55 55 55
    <br />
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:Contact@bookstore.com">Contact@bookstore.com</a>
</address>


<address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5245.7198435452865!2d2.2186078!3d48.8990067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6645881fe22ed%3A0x85cabe9648e17ff5!2s81+Avenue+Fran%C3%A7ois+Arago%2C+92000+Nanterre%2C+France!5e0!3m2!1sfr!2sus!4v1423994720996" width="600" height="450" frameborder="0" style="border:0"></iframe>
</address>